---
import { webinar } from '../config/webinar';
---
<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <span>{webinar.business.name}</span>
      <span>{webinar.business.tagline}</span>
      <span>{webinar.business.footer}</span>
    </div>
    <p class="footer-disclaimer">
      This site is not a part of the Facebook website or Facebook Inc. Additionally, this site is
      not endorsed by Facebook in any way. FACEBOOK is a trademark of Facebook, Inc.
    </p>
  </div>
</footer>
