---
import { webinar } from '../config/webinar';
---
<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <span>{webinar.business.name}</span>
      <span>{webinar.business.tagline}</span>
      <span>{webinar.business.footer}</span>
    </div>
  </div>
</footer>
